### Pyspark Handle Missing Values

In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practice2').getOrCreate()

In [3]:
spark.read.csv('Book3.csv',header=True,inferSchema=True).show()

+-------+----+----------+------+
|   name| age|experience|salary|
+-------+----+----------+------+
|  Alice|  25|         3| 30000|
|    Bob|  30|         5| 25000|
|Charlie|  35|         8| 20000|
|  Sunny|  24|         3| 15000|
|   Paul|  21|         2| 18000|
| Harsha|  23|         1| 40000|
|Shubham|NULL|      NULL| 30000|
|   NULL|  34|        10| 38000|
|   NULL|  33|      NULL|  NULL|
+-------+----+----------+------+

In [4]:
df_pyspark = spark.read.csv('Book3.csv',header=True,inferSchema=True)

In [5]:
df_pyspark.show()

+-------+----+----------+------+
|   name| age|experience|salary|
+-------+----+----------+------+
|  Alice|  25|         3| 30000|
|    Bob|  30|         5| 25000|
|Charlie|  35|         8| 20000|
|  Sunny|  24|         3| 15000|
|   Paul|  21|         2| 18000|
| Harsha|  23|         1| 40000|
|Shubham|NULL|      NULL| 30000|
|   NULL|  34|        10| 38000|
|   NULL|  33|      NULL|  NULL|
+-------+----+----------+------+

In [6]:
df_pyspark.na.drop().show() 

# all the rows that had NA will drop

+-------+---+----------+------+
|   name|age|experience|salary|
+-------+---+----------+------+
|  Alice| 25|         3| 30000|
|    Bob| 30|         5| 25000|
|Charlie| 35|         8| 20000|
|  Sunny| 24|         3| 15000|
|   Paul| 21|         2| 18000|
| Harsha| 23|         1| 40000|
+-------+---+----------+------+

In [8]:
### any == how
df_pyspark.na.drop(how='any').show() #defult is 'any' / 'all' need to have all value in single rows -> NA

+-------+---+----------+------+
|   name|age|experience|salary|
+-------+---+----------+------+
|  Alice| 25|         3| 30000|
|    Bob| 30|         5| 25000|
|Charlie| 35|         8| 20000|
|  Sunny| 24|         3| 15000|
|   Paul| 21|         2| 18000|
| Harsha| 23|         1| 40000|
+-------+---+----------+------+

In [12]:
## threshold
df_pyspark.na.drop(how='any',thresh=2).show()

+-------+----+----------+------+
|   name| age|experience|salary|
+-------+----+----------+------+
|  Alice|  25|         3| 30000|
|    Bob|  30|         5| 25000|
|Charlie|  35|         8| 20000|
|  Sunny|  24|         3| 15000|
|   Paul|  21|         2| 18000|
| Harsha|  23|         1| 40000|
|Shubham|NULL|      NULL| 30000|
|   NULL|  34|        10| 38000|
+-------+----+----------+------+

In [13]:
## subset
df_pyspark.na.drop(how='any',subset=['age']).show()

+-------+---+----------+------+
|   name|age|experience|salary|
+-------+---+----------+------+
|  Alice| 25|         3| 30000|
|    Bob| 30|         5| 25000|
|Charlie| 35|         8| 20000|
|  Sunny| 24|         3| 15000|
|   Paul| 21|         2| 18000|
| Harsha| 23|         1| 40000|
|   NULL| 34|        10| 38000|
|   NULL| 33|      NULL|  NULL|
+-------+---+----------+------+

In [15]:
## filling the missing value

df_pyspark.na.fill('Missing Values').show()

+--------------+----+----------+------+
|          name| age|experience|salary|
+--------------+----+----------+------+
|         Alice|  25|         3| 30000|
|           Bob|  30|         5| 25000|
|       Charlie|  35|         8| 20000|
|         Sunny|  24|         3| 15000|
|          Paul|  21|         2| 18000|
|        Harsha|  23|         1| 40000|
|       Shubham|NULL|      NULL| 30000|
|Missing Values|  34|        10| 38000|
|Missing Values|  33|      NULL|  NULL|
+--------------+----+----------+------+

In [16]:
## fill na with mean value by create new columns
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['age','experience','salary'],
    outputCols=['{}_imputed'.format(c) for c in ['age', 'experience', 'salary']]
).setStrategy("mean")

In [17]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+-------+----+----------+------+-----------+------------------+--------------+
|   name| age|experience|salary|age_imputed|experience_imputed|salary_imputed|
+-------+----+----------+------+-----------+------------------+--------------+
|  Alice|  25|         3| 30000|         25|                 3|         30000|
|    Bob|  30|         5| 25000|         30|                 5|         25000|
|Charlie|  35|         8| 20000|         35|                 8|         20000|
|  Sunny|  24|         3| 15000|         24|                 3|         15000|
|   Paul|  21|         2| 18000|         21|                 2|         18000|
| Harsha|  23|         1| 40000|         23|                 1|         40000|
|Shubham|NULL|      NULL| 30000|         28|                 4|         30000|
|   NULL|  34|        10| 38000|         34|                10|         38000|
|   NULL|  33|      NULL|  NULL|         33|                 4|         27000|
+-------+----+----------+------+-----------+------------------+--------------+