### Pyspark Introduction

In [2]:
import pyspark

In [3]:
import pandas as pd
pd.read_csv("Book1.csv")

  name  age
0    a    1
1    b    2
2    c    3

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [6]:
spark

In [7]:
df_pyspark = spark.read.csv('Book1.csv')

In [8]:
df_pyspark.show()

+----+---+
| _c0|_c1|
+----+---+
|name|age|
|   a|  1|
|   b|  2|
|   c|  3|
+----+---+

In [9]:
spark.read.option('header','true').csv('Book1.csv').show()

+----+---+
|name|age|
+----+---+
|   a|  1|
|   b|  2|
|   c|  3|
+----+---+

In [10]:
df_pyspark=spark.read.option('header','true').csv('Book1.csv')

In [11]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [12]:
df_pyspark.head(3)

[Row(name='a', age='1'), Row(name='b', age='2'), Row(name='c', age='3')]

In [13]:
df_pyspark.printSchema() # same like .info()

root
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)