### Pyspark 
Dataframe Part 2

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practice3').getOrCreate()

In [2]:
df_pyspark = spark.read.csv('Book4.csv',header=True,inferSchema=True)

In [3]:
df_pyspark.show()

+-------+---+----------+------+
|   name|age|experience|salary|
+-------+---+----------+------+
|  Alice| 25|         3| 30000|
|    Bob| 30|         5| 25000|
|Charlie| 35|         8| 20000|
|  Sunny| 24|         3| 15000|
|   Paul| 21|         2| 18000|
| Harsha| 23|         1| 40000|
+-------+---+----------+------+

### Filter operation

In [6]:
### Salary of the people less than or equal to 20000

df_pyspark.filter("salary <= 20000").show()

+-------+---+----------+------+
|   name|age|experience|salary|
+-------+---+----------+------+
|Charlie| 35|         8| 20000|
|  Sunny| 24|         3| 15000|
|   Paul| 21|         2| 18000|
+-------+---+----------+------+

In [7]:
df_pyspark.filter("salary <= 20000").select(['name','age']).show()

+-------+---+
|   name|age|
+-------+---+
|Charlie| 35|
|  Sunny| 24|
|   Paul| 21|
+-------+---+

In [8]:
df_pyspark.filter(df_pyspark['salary']<=20000).show()

+-------+---+----------+------+
|   name|age|experience|salary|
+-------+---+----------+------+
|Charlie| 35|         8| 20000|
|  Sunny| 24|         3| 15000|
|   Paul| 21|         2| 18000|
+-------+---+----------+------+

In [10]:
df_pyspark.filter((df_pyspark['salary']<=20000) & 
                  (df_pyspark['salary'] >=15000)).show()

+-------+---+----------+------+
|   name|age|experience|salary|
+-------+---+----------+------+
|Charlie| 35|         8| 20000|
|  Sunny| 24|         3| 15000|
|   Paul| 21|         2| 18000|
+-------+---+----------+------+

In [11]:
df_pyspark.filter(~(df_pyspark['salary']<=20000)).show()

+------+---+----------+------+
|  name|age|experience|salary|
+------+---+----------+------+
| Alice| 25|         3| 30000|
|   Bob| 30|         5| 25000|
|Harsha| 23|         1| 40000|
+------+---+----------+------+