### Pyspark Dataframe Part1

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [3]:
spark

In [9]:
### read the dataset
# inferSchema = Auto detect datatype
df_pyspark=spark.read.option('header','true').csv('Book2.csv',inferSchema=True)

In [10]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)

In [11]:
df_pyspark =  spark.read.csv('Book2.csv',header=True, inferSchema=True)
df_pyspark.show()

+-------+---+----------+
|   name|age|experience|
+-------+---+----------+
|  Alice| 25|         3|
|    Bob| 30|         5|
|Charlie| 35|         8|
+-------+---+----------+

In [12]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)

In [13]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [14]:
df_pyspark.columns

['name', 'age', 'experience']

In [15]:
df_pyspark.head(3)
# list[] format

[Row(name='Alice', age=25, experience=3),
 Row(name='Bob', age=30, experience=5),
 Row(name='Charlie', age=35, experience=8)]

In [16]:
df_pyspark.show()

+-------+---+----------+
|   name|age|experience|
+-------+---+----------+
|  Alice| 25|         3|
|    Bob| 30|         5|
|Charlie| 35|         8|
+-------+---+----------+

In [17]:
df_pyspark.select('name')

DataFrame[name: string]

In [18]:
df_pyspark.select('name').show()

+-------+
|   name|
+-------+
|  Alice|
|    Bob|
|Charlie|
+-------+

In [19]:
type(df_pyspark.select('name'))

pyspark.sql.dataframe.DataFrame

In [21]:
df_pyspark.select('name','experience').show()

+-------+----------+
|   name|experience|
+-------+----------+
|  Alice|         3|
|    Bob|         5|
|Charlie|         8|
+-------+----------+

In [22]:
df_pyspark['name']

# need to use select() function in pyspark

Column<'name'>

In [23]:
df_pyspark.dtypes

[('name', 'string'), ('age', 'int'), ('experience', 'int')]

In [26]:
df_pyspark.describe().show()

+-------+-------+----+------------------+
|summary|   name| age|        experience|
+-------+-------+----+------------------+
|  count|      3|   3|                 3|
|   mean|   NULL|30.0| 5.333333333333333|
| stddev|   NULL| 5.0|2.5166114784235836|
|    min|  Alice|  25|                 3|
|    max|Charlie|  35|                 8|
+-------+-------+----+------------------+

In [27]:
### Adding column in dataframe

df_pyspark.withColumn('experience after 2 year', df_pyspark['experience']+2)

DataFrame[name: string, age: int, experience: int, experience after 2 year: int]

In [28]:
df_pyspark.withColumn('experience after 2 year', df_pyspark['experience']+2).show()

+-------+---+----------+-----------------------+
|   name|age|experience|experience after 2 year|
+-------+---+----------+-----------------------+
|  Alice| 25|         3|                      5|
|    Bob| 30|         5|                      7|
|Charlie| 35|         8|                     10|
+-------+---+----------+-----------------------+

In [29]:
df_pyspark = df_pyspark.withColumn('experience after 2 year', df_pyspark['experience']+2)

In [30]:
df_pyspark.show()

+-------+---+----------+-----------------------+
|   name|age|experience|experience after 2 year|
+-------+---+----------+-----------------------+
|  Alice| 25|         3|                      5|
|    Bob| 30|         5|                      7|
|Charlie| 35|         8|                     10|
+-------+---+----------+-----------------------+

In [31]:
#### Drop the columns

df_pyspark.drop('experience after 2 year').show()

+-------+---+----------+
|   name|age|experience|
+-------+---+----------+
|  Alice| 25|         3|
|    Bob| 30|         5|
|Charlie| 35|         8|
+-------+---+----------+

In [32]:
df_pyspark = df_pyspark.drop('experience after 2 year')

In [34]:
df_pyspark.show()

+-------+---+----------+
|   name|age|experience|
+-------+---+----------+
|  Alice| 25|         3|
|    Bob| 30|         5|
|Charlie| 35|         8|
+-------+---+----------+

In [37]:
### Rename the columns

df_pyspark.withColumnRenamed('name','new name').show()

+--------+---+----------+
|new name|age|experience|
+--------+---+----------+
|   Alice| 25|         3|
|     Bob| 30|         5|
| Charlie| 35|         8|
+--------+---+----------+

In [38]:
df_pyspark.show()

+-------+---+----------+
|   name|age|experience|
+-------+---+----------+
|  Alice| 25|         3|
|    Bob| 30|         5|
|Charlie| 35|         8|
+-------+---+----------+